<h1>Burgers</h1>

<h2>Burgers not devoured</h2>



<div class="container">
  <div class="burger-list">
    
    
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <div id="newBurger-input" name="burger_name">
          {{id}} - {{burger_name}}
          <button id="devour-burger" class="devour-burger btn-warning" data-id="{{this.id}}">Devour Burger!</button>
        </div>
        {{/unless}}
        {{/each}}
      </ul>

    <h2>Devoured Burgers!</h2>
    <ul>
    {{#each burgers}}
    {{#if devoured}}
    <li class=".create-form">
     {{id}} - {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
    </ul>

    <form class="create-form">
      <div class="form-group">
        <label for="burger">burger Name:</label>
        <input type="text" id="burger" name="name">


      </div>

      <button type="submit">Add burger</button>


    </form>